<pre>{{ form.getControl(username)?.errors | json }}</pre>
<pre>{{ form.getControl(email)?.errors | json }}</pre>

<form #form="ngForm" novalidate (submit)="save(form)">
  <div class="control">
    <input type="text" #username="ngModel" name="username" [(ngModel)]="item.username" placeholder="username" required>
  </div>

  <div class="control">
    <input type="email" #email="ngModel" name="email" [(ngModel)]="item.email" placeholder="e-mail" required email>
  </div>

  <div class="control">
    <button>
      {{ loading ? 'Saving' : 'Save' }}
    </button>
  </div>
</form>
